body {
  background-color: #DCDBD9;
  color: #2C2C2C;
  font: normal 100% Cambria, Georgia, serif;
}

h1 {
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
}


h1 a {
  color: #747474;
  font: bold 11px Calibri, Arial, sans-serif;
  letter-spacing: 0.15em;
  text-decoration: none;
}

.header-main {
  text-align: center;
}

.pusheen {
  position: fixed;
  margin: 10px;
  margin-right: 15%;
  top: 0;
  right: 0;
  width: 300px;
}
