<h1>Register as a new user</h1>

<br>
<form action="/users" method="post">
  <label>Name: </label>
    <input type="text" name="user[name]">
  <label>Email: </label>
    <input type="email" name="user[email]">
  <label>Password: </label>
    <input type="password" name="user[password]" placeholder="password">
    <br>
  <label>Confirm password:</label>
    <input type="password" name="password_confirm" placeholder="confirm password">
    <br>
    <input type="submit" name="Click to register">
</form>
<br>
<h2>
  <% if @error %>
    <%= @error %>
  <% end %>
</h2>
